<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Регистрация</h1>

<form action="/users" method="post" name="registerForm">

    <body class="container">

        <div class="input-group mb-3">
            <input type="text" class="form-control" required placeholder="Username" name="username">
            <input type="text" class="form-control" required placeholder="Email" name="email">
            <input type="password" class="form-control" required placeholder="Пароль" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Регистрация</button>
        <a href="#">Зарегистрировать магазин</href>
    </body>
</form>